*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
}
body{
    background-color: #f5f8ff;
}
.container{
    background-color: #ffffff;
    width: 60%;
    min-width: 450px;
    
    margin-top: 10px;
    position: relative;
    padding: 50px 50px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.05);
    border-radius: 7px;

    justify-content: center;
    align-items: center;
}
.image-container{
    width: 50%;
    margin: 0 auto 30px auto;
}
.image-container img{
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 400px;
    margin: auto;
}
figcaption{
    margin: 20px 0 30px 0;
    text-align: center;
    color: #2a292a;
}
input[type="file"]{
    display: none;
}
label{
    display: block;
    position: absolute;
    background-color: rgb(136, 233, 225);;
    color: #000000;
    font-size: 18px;
    text-align: center;
    width: 300px;
    padding: 18px 0;
    border-radius: 5px;
    cursor: pointer;
    float: left;
}

.btn-group button {
    background-color: rgb(164, 211, 212); /* Green background */
    border: 1px solid rgb(136, 233, 225); /* Green border */
    border-radius: 7px;
    color: white; /* White text */
    margin-left: 5px;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    position: sticky;
    top: 20px;
  }
  
.btn-group button:focus{
    background-color: rgb(136, 233, 225);
}

.btn-group button:not(:last-child) {
border-right: none; /* Prevent double borders */
}
  
/* Clear floats (clearfix hack) */
.btn-group:after {
content: "";
clear: both;
display: table;
}
  
/* Add a background color on hover */
.btn-group button:hover {
background-color: rgba(161, 238, 232, 0.911);;
}

.disabled {
    background-color: rgba(0,0,0,0.5); /* Green background */
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none; 
  }

.description {
    position: sticky;
    margin-bottom: 50px;
    padding: 30px 40px;
    max-width: 505px;    
}

.result {
    position: sticky;
    margin-bottom: 50px;
    padding: 30px 40px;
    max-width: 505px;    
}

#ptorax {
    display:none;
  }

#rtorax {
    display:none;
  }

